@import url("fontawesome-4.6.3.min.css");

*{
  margin: 0px;
  padding: 0px;
}
html{
    height:100%;
}

body{

  font-family: 'Muli', sans-serif;
  text-align: justify;
  color: #555; 

}

.zero{
  padding: 0px;
  margin: 0px;
}


h2{
  color: #2C99CE;
  text-align: center;
}

p{
  font-size: 18px;
  color: #666;
  text-align: justify !important;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {

  width: 1000px;
  padding: 25px 50px;
  min-height: 100vh;
  text-align: justify-all;
}



.dsphdd{
  display: none;visibility: hidden;
}

.dspblk{
  display: block;visibility: visible;
}

#myhead{
  height: 55px;font-size: 17px;
}
.ans
{
  color: green;
}

#nextstep
{
  width: 150px;
}


@media only screen and (max-width: 990px) 
{


}



/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}
